public_html/UT02/family.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:element name="persons" type="personsType"/>
    
    <xs:complexType name="personsType">
      <xs:sequence>
        <xs:element name="person" type="personType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="personType">
      <xs:sequence>
        <xs:element name="full_name" type="xs:string"/>
        <xs:element name="child_name" type="xs:string"
        minOccurs="0" maxOccurs="5"/>
      </xs:sequence>
    </xs:complexType>

</xs:schema>
