public_html/UT02/A0/persona.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="persona" type="personaType"/>
    
    <xs:complexType name="personaType">
        <xs:sequence>
            <xs:element name="dni" type="xs:string"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="apellidos" type="xs:string"/>
            <xs:element name="fechaNacimiento" type="xs:date"/>
            <xs:element name="puntos" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>        
    
</xs:schema>
