public_html/UT02/A1/fichas.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="fichas" type="fichasType"/>
    
    <xs:complexType name="fichasType">
        <xs:sequence>
            <xs:element name="ficha" type="fichaType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="fichaType">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="edad" type="xs:positiveInteger"/>
        </xs:sequence>
        <xs:attribute name="numero" type="xs:integer"/>
    </xs:complexType>

</xs:schema>
